<div class="services">

  <div class="container-fluid from-wireframes">
    <h1>FROM WIREFRAMES</h1>
  </div>

  <div class="container-fluid to-design">
    <h1>
      <i class="devicon-illustrator-plain"></i>
      TO DESIGN
      <i class="devicon-photoshop-plain"></i>
    </h1>
  </div>

  <div class="container-fluid and-development">
    <h1>AND DEVELOPMENT</h1>
    <i class="devicon-ruby-plain"></i>
    <i class="devicon-rails-plain"></i>
    <i class="devicon-postgresql-plain"></i>
    <i class="devicon-javascript-plain"></i>
    <i class="devicon-jquery-plain"></i>
    <i class="devicon-bootstrap-plain"></i>
    <i class="devicon-html5-plain"></i>
    <i class="devicon-css3-plain"></i>
  </div>

</div>
