<div class="team">

  <div class="container-fluid cover">
    <h1>Say hello to your new team.</h1>
    <p>Imagine if you could hire - on your first shot - a full team of employees where every single person is excellent, motivated, punctual, and communicative. No excuses, no bullshit. <strong>Just good work.</strong></p>
  </div>

  <div class="row pad-med">
    <div class="col-md-6 leadership">
      <h2>CHRISTINE CHA</h1>
      <h4>FOUNDER + DESIGN LEAD</h4>
      <br>
      <%= image_tag('christinecha.png') %>
      <br>
      <br>
      <a href="https://twitter.com/christinechanyc"><span class="socicon">a</span></a>
      <a href="https://github.com/christinecha"><span class="socicon">Q</span></a>
      <a href="https://www.linkedin.com/pub/christine-cha/43/15a/217"><span class="socicon">j</span></a>
    </div>
    <div class="col-md-6 leadership">
      <h2>JAMES O'DWYER</h1>
      <h4>ENGINEERING LEAD</h4>
      <br>
      <%= image_tag('JamesODwyer.png') %>
      <br>
      <br>
      <a href="https://github.com/jxodwyer"><span class="socicon">Q</span></a>
      <a href="https://www.linkedin.com/in/jamesxodwyer"><span class="socicon">j</span></a>
    </div>
  </div>

  <div class="container-fluid talent-network">
    <h2>&#43; a network of specialized, curated talent</h2>
    <p>( full profiles coming soon )</p>
  </div>


</div>
