.container-fluid {
  margin: 0;
  padding: 0;
}

.navbar {
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: #fff;
  border-radius: 0;
  margin: 0;
  padding: 0 20px;
  .navbar-brand {
    font-family: 'Quicksand', sans-serif;
    font-weight: 200;
    color: #99cc66;
  }
}

body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 40px;
}

a, a:-webkit-any-link  {
  color: inherit;
  text-decoration: none;
}
